RELEASE=$$UP(PATH)
ENGINEER=tjohnson
LOCATION=Somewhere
IOC_PV=IOC:LAS:TEM:01
ARCH=rhel7-x86_64

#
# Required parameters:
#     BASE - PV prefix
#     N    - Enumerated TEM number, e.g. 0 for /dev/usbTEM0
#     PATH - full device path, mutually exclusive with N
# Optional parameters:
#     ASYNTRACE - Verbose asyn output if true.
#     TRACEFILE - Name of file to save asyn trace in (in iocInfo directory).
DEVICE(BASE=LAS:TEM:01,PATH=/dev/serial/by-id/usb-ATMEL_AVR_TEM_uC_Com_Port-if00)
